<h1>Welcome to Viewing Party!</h1>

<p>
  <b>
    This is the Viewing Party. Create an event, invite your friends, watch a movie together, have a great time, and repeat!
  </b>
</p>

<%= button_to 'Log In', '#' %>

<%= link_to 'Register as a User', '#' %>
