@import "bootstrap";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $cyan-100;
  margin: 1em;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
  padding-top: 1em;
}

h1 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

th, td {
  padding-right: 1em;
}

.center {
  text-align: center;
}
